<form class="form-inline">
    <div class="row">
    <div class="form-group col-sm-3">
        <label for="makerNumber">Maker</label>
        <select #makerNumber (change)="changeMaker(makerNumber.value); " class="form-control">
            <option *ngFor="let maker of makers" [value]="maker.Number">
                {{ maker.Name }}
            </option>
        </select>
    </div>
    <div class="form-group col-sm-3">
        <label for="modelValue">Model:</label> 
        <select #modelValue class="form-control">
            <option *ngFor="let model of models" [value]="model.Value">
                {{ model.Display }}
            </option>
        </select>
    </div>
    <div class="form-group col-sm-2">
        <label for="year">Year:</label> 
        <select #yearValue class="form-control">
            <option *ngFor="let year of years" [value]="year.Value">
                {{ year.Display }}
            </option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label for="kilometres">Kilometres:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="kilometres"
                placeholder="50,000" aria-describedby="basic-addon2"> <span
                class="input-group-addon" id="basic-addon2">KM</span>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
  <div class="col-sm-12">
     <button (click)="clickStart();"  [disabled]="isAssessing" class="btn btn-default btn-block">Start</button>
        </div>
    </div>
</form>
